# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories

node_modules/

.npm
dist
# Output of 'npm pack'

*.tgz

.env
.env.development.local
.env.test.local
.env.production.local
.env.local